create database CinemaOnline
go

USE CinemaOnline
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/2/2022 9:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1/2/2022 9:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](250) NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 1/2/2022 9:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaRoom]    Script Date: 1/2/2022 9:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaRoom](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NULL,
	[RowQuantity] [int] NOT NULL,
	[Area] [float] NULL,
	[SeatQuantity] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[SoundQuality] [nvarchar](20) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.CinemaRoom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 1/2/2022 9:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaysOfWeek]    Script Date: 1/2/2022 9:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaysOfWeek](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.DaysOfWeek] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 1/2/2022 9:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[TrailerLink] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Actors] [nvarchar](max) NULL,
	[AgeRestriction] [int] NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[Directors] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Time] [time](7) NULL,
	[BannerUrl] [nvarchar](250) NULL,
	[TimeComing] [nvarchar](50) NULL,
	[Detail] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Film] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmMovieDisplayType]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmMovieDisplayType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[MovieDisplayTypeId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.FilmMovieDisplayType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmMovieType]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmMovieType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[MovieTypeId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.FilmMovieType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gallery](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[CreationTime] [datetime] NOT NULL,
	[Url] [nvarchar](250) NULL,
	[UrlThumb] [nvarchar](250) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Gallery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieCalendar]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCalendar](
	[Id] [uniqueidentifier] NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[DaysOfWeekId] [uniqueidentifier] NOT NULL,
	[TimeFrameId] [uniqueidentifier] NOT NULL,
	[CinemaRoomId] [uniqueidentifier] NOT NULL,
	[MovieDisplayTypeId] [uniqueidentifier] NOT NULL,
	[Price] [float] NOT NULL,
	[StartWeek] [datetime] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[DateTimeDetail] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MovieCalendar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieDisplayType]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieDisplayType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.MovieDisplayType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieType]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.MovieType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Detail] [text] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreaterId] [uniqueidentifier] NOT NULL,
	[BannerUrl] [nvarchar](250) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[SeatId] [uniqueidentifier] NOT NULL,
	[SeatName] [nvarchar](4) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeleteTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[SeatPrice] [float] NOT NULL,
	[FilmPrice] [float] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PromotionFilmId] [uniqueidentifier] NULL,
	[PromotionFilmPrice] [float] NULL,
	[PromotionToppingId] [uniqueidentifier] NULL,
	[PromotionToppingPrice] [float] NULL,
	[MovieCalendarId] [uniqueidentifier] NOT NULL,
	[FilmName] [nvarchar](max) NULL,
	[FilmType] [nvarchar](max) NULL,
	[RoomName] [nvarchar](max) NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[FilmPrice] [float] NOT NULL,
	[DayOfWeekPrice] [float] NOT NULL,
	[TimeFramePrice] [float] NOT NULL,
	[Time] [datetime] NOT NULL,
	[MovieDisplayTypePrice] [float] NOT NULL,
	[TicketNumber] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[Status] [int] NOT NULL,
	[Credits] [nvarchar](50) NULL,
	[TicketQuantity] [int] NOT NULL,
	[PaymentType] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeleteTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Id] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreaterId] [uniqueidentifier] NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[KindOfPromotion] [nvarchar](50) NULL,
	[KindOfPromotionEnum] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[PromotionPercent] [float] NULL,
	[IsFilm] [bit] NOT NULL,
	[FilmId] [uniqueidentifier] NULL,
	[Code] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ToppingId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Promotion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[RoleEnum] [int] NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Id] [uniqueidentifier] NOT NULL,
	[Row] [nvarchar](2) NULL,
	[Col] [nvarchar](2) NULL,
	[Status] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[SeatTypeId] [uniqueidentifier] NULL,
	[CinemaRoomId] [uniqueidentifier] NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Seat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatType]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](15) NULL,
	[Price] [float] NOT NULL,
	[Color] [nvarchar](10) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.SeatType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeFrame]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeFrame](
	[Id] [uniqueidentifier] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.TimeFrame] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topping]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topping](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [float] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[KindOfTopping] [nvarchar](50) NULL,
	[KindOfToppingEnum] [int] NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Topping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToppingOrderDetail]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToppingOrderDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ToppingId] [uniqueidentifier] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeleteTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.ToppingOrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/2/2022 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Gender] [bit] NOT NULL,
	[IdentityCard] [nvarchar](15) NULL,
	[Email] [nvarchar](30) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[LinkAvata] [nvarchar](250) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([Id], [Name], [PhoneNumber], [UserName], [Password], [RoleId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'e003ef6f-7024-4954-9ce3-e47c38423cfa', N'Quản Trị', N'099999', N'admin', N'J/gKNM6HGoan7VOoomOu/A==', N'418045e7-08de-43eb-b7da-787a46206a20', 0, NULL, NULL)
GO
INSERT [dbo].[CinemaRoom] ([Id], [Name], [RowQuantity], [Area], [SeatQuantity], [Status], [SoundQuality], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'cbee5695-b7e9-43b3-8174-43bc449a2cf6', N'1', 4, 0, 54, 0, N'IMax', 0, NULL, NULL)
INSERT [dbo].[CinemaRoom] ([Id], [Name], [RowQuantity], [Area], [SeatQuantity], [Status], [SoundQuality], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'3b4f1f43-83e5-462b-b5d3-555bd504e46e', N'2', 3, 0, 42, 0, N'Trung bình', 0, NULL, NULL)
GO
INSERT [dbo].[DaysOfWeek] ([Id], [Name], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'8fdd10d2-b9de-4cc2-b4ed-081943e04673', N'Thứ 4', 0, 0, NULL, NULL)
INSERT [dbo].[DaysOfWeek] ([Id], [Name], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'2a18df6b-bfed-4925-ad20-0c9ddd4c1f33', N'Thứ 2', 0, 0, NULL, NULL)
INSERT [dbo].[DaysOfWeek] ([Id], [Name], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'ef7a3a06-8541-469f-812a-25cc75ec3626', N'Thứ 7', 10000, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[FilmMovieDisplayType] ON 

INSERT [dbo].[FilmMovieDisplayType] ([Id], [FilmId], [MovieDisplayTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (7, N'570ac1ee-8eea-4e2d-b89d-74cecd166f6f', N'00cfa147-2333-4b23-a873-bec69f7934f1', 0, NULL, NULL)
INSERT [dbo].[FilmMovieDisplayType] ([Id], [FilmId], [MovieDisplayTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (8, N'afad7b6e-4a1e-4bf7-8e0a-9d4bc78f730e', N'00cfa147-2333-4b23-a873-bec69f7934f1', 0, NULL, NULL)
INSERT [dbo].[FilmMovieDisplayType] ([Id], [FilmId], [MovieDisplayTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (9, N'd43c57db-35e4-458d-8c5f-5585924027c2', N'00cfa147-2333-4b23-a873-bec69f7934f1', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FilmMovieDisplayType] OFF
GO
SET IDENTITY_INSERT [dbo].[FilmMovieType] ON 

INSERT [dbo].[FilmMovieType] ([Id], [FilmId], [MovieTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (29, N'570ac1ee-8eea-4e2d-b89d-74cecd166f6f', N'1c8e1f87-ff7e-41d5-ad85-cba2023db2fe', 0, NULL, NULL)
INSERT [dbo].[FilmMovieType] ([Id], [FilmId], [MovieTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (30, N'570ac1ee-8eea-4e2d-b89d-74cecd166f6f', N'123243a2-5fc8-47a5-b789-f0ba3d7460b4', 0, NULL, NULL)
INSERT [dbo].[FilmMovieType] ([Id], [FilmId], [MovieTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (31, N'afad7b6e-4a1e-4bf7-8e0a-9d4bc78f730e', N'0bf3466c-1014-4afb-b92c-b115d1b4ec32', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FilmMovieType] OFF
GO
INSERT [dbo].[MovieCalendar] ([Id], [FilmId], [DaysOfWeekId], [TimeFrameId], [CinemaRoomId], [MovieDisplayTypeId], [Price], [StartWeek], [IsDelete], [DeletetionTime], [DeleterId], [DateTimeDetail]) VALUES (N'a27f46d8-7de7-4e28-881b-05b972c4a9c8', N'09e128c4-e39a-4d3f-9f8e-4cb747a75e5b', N'c311355f-fc6a-44e8-bbdf-d0052f967574', N'811b432e-d446-4b55-bcb6-29f85c229374', N'cbee5695-b7e9-43b3-8174-43bc449a2cf6', N'00cfa147-2333-4b23-a873-bec69f7934f1', 370000, CAST(N'2022-01-27T00:00:00.000' AS DateTime), 0, NULL, NULL, CAST(N'2022-01-30T17:00:00.000' AS DateTime))
INSERT [dbo].[MovieCalendar] ([Id], [FilmId], [DaysOfWeekId], [TimeFrameId], [CinemaRoomId], [MovieDisplayTypeId], [Price], [StartWeek], [IsDelete], [DeletetionTime], [DeleterId], [DateTimeDetail]) VALUES (N'89152f3c-95e3-41b1-abc2-571bdb2ce5fe', N'570ac1ee-8eea-4e2d-b89d-74cecd166f6f', N'563d057a-6516-4426-8d5f-df0ba92a70bb', N'1c969a8d-74ee-45bc-b5b4-aa4b5787d0a7', N'cbee5695-b7e9-43b3-8174-43bc449a2cf6', N'00cfa147-2333-4b23-a873-bec69f7934f1', 290000, CAST(N'2022-01-21T00:00:00.000' AS DateTime), 0, NULL, NULL, CAST(N'2022-01-25T19:00:00.000' AS DateTime))
INSERT [dbo].[MovieCalendar] ([Id], [FilmId], [DaysOfWeekId], [TimeFrameId], [CinemaRoomId], [MovieDisplayTypeId], [Price], [StartWeek], [IsDelete], [DeletetionTime], [DeleterId], [DateTimeDetail]) VALUES (N'82280166-2634-4797-a684-72d677254166', N'e92e7027-b4ae-49f2-bdca-f467069bfb32', N'c311355f-fc6a-44e8-bbdf-d0052f967574', N'811b432e-d446-4b55-bcb6-29f85c229374', N'cbee5695-b7e9-43b3-8174-43bc449a2cf6', N'00cfa147-2333-4b23-a873-bec69f7934f1', 220000, CAST(N'2022-01-20T00:00:00.000' AS DateTime), 0, NULL, NULL, CAST(N'2022-01-23T17:00:00.000' AS DateTime))
GO
INSERT [dbo].[MovieDisplayType] ([Id], [Name], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'4ff91397-e21b-49a4-9e2b-756bfcdfd683', N'2D', 20000, 0, NULL, NULL)
INSERT [dbo].[MovieDisplayType] ([Id], [Name], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'00cfa147-2333-4b23-a873-bec69f7934f1', N'3D', 50000, 0, NULL, NULL)
GO
INSERT [dbo].[MovieType] ([Id], [Name], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'47ad6a74-2f24-4e40-8150-238850c17bd8', N'Cổ trang - Thần thoại', 0, NULL, NULL)
INSERT [dbo].[MovieType] ([Id], [Name], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'a40f7175-fe90-4963-a3d1-4a29e068daf6', N'Kinh Dị', 0, NULL, NULL)
INSERT [dbo].[MovieType] ([Id], [Name], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'3f1839b4-4ba2-4731-8153-4a8125b12609', N'Hình Sự', 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([Id], [Title], [Detail], [CreationTime], [CreaterId], [BannerUrl], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (1, N'Phim hay nên xem', N'<p>Phim hay n&ecirc;n xem</p>

<p>Phim hay n&ecirc;n xem</p>
', CAST(N'2021-12-16T19:49:06.5283594' AS DateTime2), N'e003ef6f-7024-4954-9ce3-e47c38423cfa', N'/FileUploads/files/phim-viet-nam_qvi0cl.png', 1, CAST(N'2021-12-16T19:50:07.5434505' AS DateTime2), N'e003ef6f-7024-4954-9ce3-e47c38423cfa')
SET IDENTITY_INSERT [dbo].[News] OFF
GO
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [SeatId], [SeatName], [IsDelete], [DeleteTime], [DeleterId], [SeatPrice], [FilmPrice]) VALUES (N'b9768b44-ee2d-47cf-bf1f-56ab016e1af3', N'd2f8f6bf-c47f-48b3-bc7d-8260f0ba355e', N'77bb2667-d169-4690-89f5-9ae0c144b8d4', N'14', 0, NULL, NULL, 60000, 290000)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [SeatId], [SeatName], [IsDelete], [DeleteTime], [DeleterId], [SeatPrice], [FilmPrice]) VALUES (N'f0b145ad-ddf9-4ac5-a462-5f71f08f893b', N'7793c04d-8784-4fc3-b48f-21df25e2f21f', N'd4f76b06-69f8-4e9e-b596-607a1cecbe53', N'11', 0, NULL, NULL, 60000, 285000)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [SeatId], [SeatName], [IsDelete], [DeleteTime], [DeleterId], [SeatPrice], [FilmPrice]) VALUES (N'0d26554e-4c3a-453a-a26b-a0002f3a72d8', N'd2f8f6bf-c47f-48b3-bc7d-8260f0ba355e', N'37db0ef5-ce5d-4e2e-b269-143c51235ae5', N'13', 0, NULL, NULL, 60000, 290000)
GO
INSERT [dbo].[Promotion] ([Id], [CreationTime], [CreaterId], [IsDelete], [DeletetionTime], [DeleterId], [KindOfPromotion], [KindOfPromotionEnum], [Price], [PromotionPercent], [IsFilm], [FilmId], [Code], [IsActive], [Quantity], [ToppingId]) VALUES (N'e53c96fc-5d6a-476d-8ef5-7464c2185bbe', CAST(N'2021-12-17T12:22:55.5636059' AS DateTime2), N'e003ef6f-7024-4954-9ce3-e47c38423cfa', 0, NULL, NULL, N'Trên phim', 1, 0, 20, 1, N'09e128c4-e39a-4d3f-9f8e-4cb747a75e5b', N'WSL0QSCF', 1, 5, NULL)
INSERT [dbo].[Promotion] ([Id], [CreationTime], [CreaterId], [IsDelete], [DeletetionTime], [DeleterId], [KindOfPromotion], [KindOfPromotionEnum], [Price], [PromotionPercent], [IsFilm], [FilmId], [Code], [IsActive], [Quantity], [ToppingId]) VALUES (N'826b26ab-e089-4f9e-b664-fec17c779d71', CAST(N'2021-12-17T12:23:12.1280948' AS DateTime2), N'e003ef6f-7024-4954-9ce3-e47c38423cfa', 0, NULL, NULL, N'Đồng giá', 0, 100000, 0, 1, NULL, N'WTV47HBS', 1, 10, NULL)
GO
INSERT [dbo].[Role] ([Id], [Name], [RoleEnum]) VALUES (N'418045e7-08de-43eb-b7da-787a46206a20', N'Admin', 1)
GO
INSERT [dbo].[Seat] ([Id], [Row], [Col], [Status], [Color], [Price], [SeatTypeId], [CinemaRoomId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'f63f927b-9b51-452a-bf0d-01e6d9b8d227', N'1', N'6', 0, N'#002aff', 60000, N'39ad7a8f-9482-47c7-af25-d8ed35d2403d', N'3b4f1f43-83e5-462b-b5d3-555bd504e46e', 0, NULL, NULL)
INSERT [dbo].[Seat] ([Id], [Row], [Col], [Status], [Color], [Price], [SeatTypeId], [CinemaRoomId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'765f528d-8a93-496c-8ab7-0a4be22b66b5', N'3', N'6', 0, N'#a91919', 10000, N'ed3038dd-020e-49a0-b264-0e21fef87d84', N'3b4f1f43-83e5-462b-b5d3-555bd504e46e', 0, NULL, NULL)
INSERT [dbo].[Seat] ([Id], [Row], [Col], [Status], [Color], [Price], [SeatTypeId], [CinemaRoomId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'42448281-0c66-44d6-b2a9-13549b34ec91', N'1', N'5', 0, N'#002aff', 60000, N'39ad7a8f-9482-47c7-af25-d8ed35d2403d', N'cbee5695-b7e9-43b3-8174-43bc449a2cf6', 0, NULL, NULL)
GO
INSERT [dbo].[SeatType] ([Id], [Name], [Price], [Color], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'ed3038dd-020e-49a0-b264-0e21fef87d84', N'VIP', 10000, N'#a91919', 0, NULL, NULL)
INSERT [dbo].[SeatType] ([Id], [Name], [Price], [Color], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'd2a71a9e-c2df-40a0-9794-0f4d62ebf067', N'Deluxe', 40000, N'#99ff00', 0, NULL, NULL)
INSERT [dbo].[SeatType] ([Id], [Name], [Price], [Color], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'71d93c22-c581-4261-8dc8-25740f46475f', N'Thường', 0, N'#000000', 0, NULL, NULL)
GO
INSERT [dbo].[TimeFrame] ([Id], [Time], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'811b432e-d446-4b55-bcb6-29f85c229374', CAST(N'17:00:00' AS Time), 20000, 0, NULL, NULL)
INSERT [dbo].[TimeFrame] ([Id], [Time], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'f45fdfe9-5d09-4a3e-89f0-5e4b0783b26b', CAST(N'16:00:00' AS Time), 15000, 0, NULL, NULL)
INSERT [dbo].[TimeFrame] ([Id], [Time], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'267b915c-16ae-4a6f-8182-7c6a3dd32c7a', CAST(N'17:30:00' AS Time), 20000, 0, NULL, NULL)
GO
INSERT [dbo].[Topping] ([Id], [Name], [Price], [ImageUrl], [KindOfTopping], [KindOfToppingEnum], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'33267a88-0538-461e-801d-1b8d160260d3', N'Coke', 20000, N'/FileUploads/files/thamhoacua1thuonghieu0_1394616222.jpg', N'Thức uống', 0, 0, NULL, NULL)
INSERT [dbo].[Topping] ([Id], [Name], [Price], [ImageUrl], [KindOfTopping], [KindOfToppingEnum], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'd3651b77-718e-4463-af06-8eb342aee565', N'Snacks', 20000, N'/FileUploads/files/d796e6a66a73d26660fb316138299a91.jpg', N'Đồ ăn', 0, 0, NULL, NULL)
GO
INSERT [dbo].[ToppingOrderDetail] ([Id], [OrderId], [ToppingId], [Price], [Quantity], [IsDelete], [DeleteTime], [DeleterId]) VALUES (N'476c0c25-fba7-43ff-a053-113579b7a4e0', N'd2f8f6bf-c47f-48b3-bc7d-8260f0ba355e', N'd3651b77-718e-4463-af06-8eb342aee565', 20000, 1, 0, NULL, NULL)
INSERT [dbo].[ToppingOrderDetail] ([Id], [OrderId], [ToppingId], [Price], [Quantity], [IsDelete], [DeleteTime], [DeleterId]) VALUES (N'5e796c0b-5648-4192-9b4b-7a71231eda4c', N'd2f8f6bf-c47f-48b3-bc7d-8260f0ba355e', N'33267a88-0538-461e-801d-1b8d160260d3', 20000, 1, 0, NULL, NULL)
INSERT [dbo].[ToppingOrderDetail] ([Id], [OrderId], [ToppingId], [Price], [Quantity], [IsDelete], [DeleteTime], [DeleterId]) VALUES (N'ec6f290e-7c96-47ef-bc76-d64b2588b90b', N'7793c04d-8784-4fc3-b48f-21df25e2f21f', N'33267a88-0538-461e-801d-1b8d160260d3', 20000, 1, 0, NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [FullName], [Gender], [IdentityCard], [Email], [DateOfBirth], [Phone], [Username], [Password], [LinkAvata], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'352c799e-0a1d-4384-993b-1fffb840060c', N'Bùi thanh sơn', 1, NULL, N'brucelee21112000@gmail.com', CAST(N'2000-11-21T00:00:00.000' AS DateTime), N'09088', N'bruce', N'wmQlLhInLH1lq50htJE+ltHZqLgG0dA2', N'/Content/images/team/2.png', 0, NULL, NULL)
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Admin_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_dbo.Admin_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[FilmMovieDisplayType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieDisplayType] CHECK CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[FilmMovieDisplayType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.MovieDisplayType_MovieDisplayTypeId] FOREIGN KEY([MovieDisplayTypeId])
REFERENCES [dbo].[MovieDisplayType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieDisplayType] CHECK CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.MovieDisplayType_MovieDisplayTypeId]
GO
ALTER TABLE [dbo].[FilmMovieType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieType_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieType] CHECK CONSTRAINT [FK_dbo.FilmMovieType_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[FilmMovieType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieType_dbo.MovieType_MovieTypeId] FOREIGN KEY([MovieTypeId])
REFERENCES [dbo].[MovieType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieType] CHECK CONSTRAINT [FK_dbo.FilmMovieType_dbo.MovieType_MovieTypeId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.CinemaRoom_CinemaRoomId] FOREIGN KEY([CinemaRoomId])
REFERENCES [dbo].[CinemaRoom] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.CinemaRoom_CinemaRoomId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.DaysOfWeek_DaysOfWeekId] FOREIGN KEY([DaysOfWeekId])
REFERENCES [dbo].[DaysOfWeek] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.DaysOfWeek_DaysOfWeekId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.MovieDisplayType_MovieDisplayTypeId] FOREIGN KEY([MovieDisplayTypeId])
REFERENCES [dbo].[MovieDisplayType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.MovieDisplayType_MovieDisplayTypeId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.TimeFrame_TimeFrameId] FOREIGN KEY([TimeFrameId])
REFERENCES [dbo].[TimeFrame] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.TimeFrame_TimeFrameId]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.News_dbo.Admin_CreaterId] FOREIGN KEY([CreaterId])
REFERENCES [dbo].[Admin] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_dbo.News_dbo.Admin_CreaterId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Seat_SeatId] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Seat_SeatId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.MovieCalendar_MovieCalendarId] FOREIGN KEY([MovieCalendarId])
REFERENCES [dbo].[MovieCalendar] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.MovieCalendar_MovieCalendarId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Promotion_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_dbo.Promotion_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Promotion_dbo.Topping_ToppingId] FOREIGN KEY([ToppingId])
REFERENCES [dbo].[Topping] ([Id])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_dbo.Promotion_dbo.Topping_ToppingId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seat_dbo.CinemaRoom_CinemaRoomId] FOREIGN KEY([CinemaRoomId])
REFERENCES [dbo].[CinemaRoom] ([Id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_dbo.Seat_dbo.CinemaRoom_CinemaRoomId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seat_dbo.SeatType_SeatTypeId] FOREIGN KEY([SeatTypeId])
REFERENCES [dbo].[SeatType] ([Id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_dbo.Seat_dbo.SeatType_SeatTypeId]
GO
ALTER TABLE [dbo].[ToppingOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ToppingOrderDetail_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ToppingOrderDetail] CHECK CONSTRAINT [FK_dbo.ToppingOrderDetail_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[ToppingOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ToppingOrderDetail_dbo.Topping_ToppingId] FOREIGN KEY([ToppingId])
REFERENCES [dbo].[Topping] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ToppingOrderDetail] CHECK CONSTRAINT [FK_dbo.ToppingOrderDetail_dbo.Topping_ToppingId]
GO
